@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	color: #2a6be1;
}
