@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #000000;
	display: flex;
	flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	color: #2a6be1;
}

.hero-bg {
	background:
		linear-gradient(hsla(0, 100%, 100%, 0.8), hsla(0, 100%, 100%, 0.8)),
		url('./lib/assets/images/476628036_662626216106298_2083335453912877213_n.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-text-shadow {
	text-shadow: 2px 2px 2px #333;
}

.white-heaing {
	color: white !important;
}

.more-progrms-bg-1 {
	background:
		linear-gradient(hsla(219, 75%, 52%, 0.8), hsla(219, 75%, 52%, 0.8)),
		url('./lib/assets/images/475767421_1197256408778323_6528258560486459493_n.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.more-progrms-bg-2 {
	background: url('./lib/assets/images/475487953_1197096205461010_3244279295240044768_n.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.customList {
	list-style-image: url('./lib/assets/images/list_mark/checklist-finish-race-line-svgrepo-com.svg');
}
